.wordgrid {
  display: flex;
  justify-content: center;
  gap: 20px;
  

  .guessLetter {
    border-bottom: 1px solid white;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
  }
}